.carousel-button {
    background-color: white;
    position: absolute;
    height: 100%;
    opacity: 20%;
    width: 5%;
    top: 0;
    border: none;
    transition: 400ms;
}

.carousel-button:hover {
    opacity: 60%;
    transition: 400ms;
}

.carousel-button:hover .right {
    margin-left: 20%;
}

.carousel-button:hover .left {
    margin-right: 20%;
}

.carousel-button:active {
    opacity: 60%;
    transition: 0ms;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.arrow {
    aspect-ratio: 1 / 1;
    width: 10%;
    border: solid rgb(119, 119, 119);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transition: 150ms;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}