.carousel-main {
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel-wrapper {
    display: flex;
    height: 100%;
}

.item-style {
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.carousel-button {
    cursor: pointer;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    opacity: 50%;
    border: none;
    transition: 400ms;
}

.carousel-button:hover {
    opacity: 100%;
    transition: 400ms;
}

.carousel-button:hover .right {
    margin-left: 10%;
}

.carousel-button:hover .left {
    margin-right: 10%;
}

.prev {
    order: 1;
    left: 0;
}

.next {
    order: 3;
    right: 0;
}

.arrow {
    aspect-ratio: 1 / 1;
    width: 25%;
    border: solid rgb(189, 189, 189);
    border-width: 0 6px 6px 0;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
    transition: 150ms;
}

.right {
    margin-left: -17.5%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    margin-right: -17.5%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.indicator-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.dot {
    cursor: pointer;
    margin: 20px 1%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 200ms;
}

.dot:hover {
    transform: scale(125%);
    background-color: rgba(255, 255, 255, 0.7);
}

.dot-active {
    transform: scale(150%);
    background-color: white;
}