.carousel-button {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    height: 100%;
    opacity: 70%;
    width: 8%;
    top: 0;
    border: none;
    transition: 400ms;
}

.carousel-button:hover {
    opacity: 100%;
    transition: 400ms;
}

.carousel-button:hover .right {
    margin-left: 20%;
}

.carousel-button:hover .left {
    margin-right: 20%;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.arrow {
    aspect-ratio: 1 / 1;
    width: 13%;
    border: solid rgb(189, 189, 189);
    border-width: 0 4px 4px 0;
    border-radius: 3px;
    display: inline-block;
    padding: 3px;
    transition: 150ms;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}